<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | orangejuiceplz</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/starry-background.js"></script>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <section class="about-me">
            <h1>about me</h1>
            <img src="/images/profile-picture.jpg" alt="orangejuiceplz" class="profile-picture">
            <p>wip</p>
        </section>

        <section class="my-journey">
            <h2>the journey</h2>
            <ul class="timeline">
                <li>
                    <h3>2024</h3>
                    <p>wip</p>
                </li>
                <li>
                    <h3>2025</h3>
                    <p>future plans...</p>
                </li>
            </ul>
        </section>

        <section class="personal-interests">
            <h2>personal interests</h2>
            <ul>
                <li>offensive cyber security</li>
                <li>artifical intelligence training</li>
                <li>reverse engineering</li>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/main.js"></script>
</body>
</html>