<header>
    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="/" class="nav-button">Home</a></li>
          <li><a href="/about" class="nav-button">About Me</a></li>
          <li><a href="/skills" class="nav-button">Skills</a></li>
          <li><a href="/blog" class="nav-button">Blog</a></li>
          <li><a href="/stats" class="nav-button">GitHub Stats</a></li>
          <li><a href="/contact" class="nav-button">Contact</a></li>
          <li><a href="/profile" class="nav-button">Profile</a></li>
          <li><a href="/flashcards" class="nav-button">Flashcards</a></li>
        </ul>
      </nav>
    </div>
  </header>