<%- include('../../partials/header') %>

<h1>Login</h1>

<form action="/auth/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>

<a href="/auth/google">Login with Google</a>

<p>Don't have an account? <a href="/register">Register here</a></p>

